@{
  Layout = "_Layout";
}


<body class="homep">
  @using GalleryGram.Models
<h1>Order Confirmation</h1>
<br>
<h3><u>Conformation Number: @Model.confirmation_id</u></h3>
<br>
<h3><u>Status: @Model.status</u></h3>
<br>
<h2><u>Cost: $@Model.cost</u></h2>
</body>

