@{
  Layout = "_Layout";
}


@using GalleryGram.ViewModels
<h1>Place a new...</h1>

@model OrderViewModel
@if(!ViewData.ModelState.IsValid) 
{
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:");
}

<body class="reglog">
  <center>
    <form action="/order/create/@ViewBag.pictureId" method="post">
      <div class="container">
        <div class="form1">
          <div class="title"><h1>Order!</h1></div>
          <div class="subtitle">Let's create your Order!</div>

          <div class="input-container ic1">
            <input
              name="line1"
              id="line1"
              class="input"
              type="text"
              placeholder=" "
            />
            <label for="line1" class="placeholder">Address</label>
          </div>

          <div class="input-container ic2">
            <input
              name="line2"
              id="line2"
              class="input"
              type="text"
              placeholder=" "
            />
            <label for="line2" class="placeholder">Apt#</label>
          </div>

          <div class="input-container ic2">
            <input
              name="postalOrZipCode"
              id="postalOrZipCode"
              class="input"
              type="text"
              placeholder=" "
            />
            <label for="postalOrZipCode " class="placeholder">ZipCode</label>
          </div>

          <div class="input-container ic1">
            <input
              name="countryCode"
              id="countryCode"
              class="input"
              type="text"
              placeholder=" "
            />
            <label for="countryCode" class="placeholder">Country</label>
          </div>

          <div class="input-container ic2">
            <input
              name="townOrCity"
              id="townOrCity"
              class="input"
              type="text"
              placeholder=" "
            />
            <label for="townOrCity" class="placeholder">City</label>
          </div>

          <div class="input-container ic2">
            <input
              name="stateOrCounty"
              id="stateOrCounty"
              class="input"
              type="text"
              placeholder=" "
            />
            <label for="stateOrCounty" class="placeholder">State</label>
          </div>

          <button type="text" class="submit">submit</button>
        </div>
      </div>
    </form>
  </center>
</body>
