<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GalleryGram</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <div class="container">
    @RenderBody()
    </div>
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"style="position: fixed">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-75">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </label>
    <div class="wrapper">
      <ul>
        <li>
          <a class="drop-link" href="/account">Home</a>
        </li>
        @if (User.Identity.IsAuthenticated)
        {
                  <li><a class="drop-link" href="/gallery">Gallery</a></li>
                  <li><form class="m-0 p-0" action="/account/logoff" method="post"><button class="btn drop-link" type="submit">LogOut</button></form></li>
        }
      </ul>
    </div>
    <div class="content">
      <div class="title">
    </div>
  </body>
</html>

