
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>GalleryGram</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
  <div class="container">
    @RenderBody()
  </div>

    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
    <div class="wrapper">
      <ul>
<li><a href="#">@Html.ActionLink("Home", "Index")</a></li>
<li><a href="#">@Html.ActionLink("Gallery", "Gallery")</a></li>
<li><a href="#">@Html.ActionLink("LogOff", "Account") </a></li>

@* WIP ^^^^^^ Nav bar logoff need halp *@

</ul>
</div>
<div class="content">
      <div class="title">
</div>
</body>

</html>

