@{
  Layout = "_Layout";
}
 <body class="reglog">
  

<br>

<h1>Welcome to The GalleryGram</h1>
<hr />
<hr>
@if (User.Identity.IsAuthenticated)
{
  <h2>Hello @User.Identity.Name!</h2>
  @using (Html.BeginForm("LogOff", "Account"))
  {
      <div class="svg-wrapper">
  <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
    <rect id="shape" height="40" width="150" />
    <div id="text">
      @* <a href=""><span class="spot"></span>Button 1</a> *@
      <p style="margin-top: px;" class="spot"><input type="submit" class="btn" value="Log out" />

      </p>
    </div>
  </svg>
</div>
    
  }

}
else
{
  <div class="svg-wrapper">
  <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
    <rect id="shape" height="40" width="150" />
    <div id="text">
      @* <a href=""><span class="spot"></span>Button 1</a> *@
      <p style="margin-top: 5px;" class="spot">@Html.ActionLink("Register", "Register") </p>

    </div>
  </svg>
</div>
  <div class="svg-wrapper">
  <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
    <rect id="shape" height="40" width="150" />
    <div id="text">
      @* <a href=""><span class="spot"></span>Button 1</a> *@
      <p style="margin-top: 5px;" class="spot">@Html.ActionLink("Log in", "Login")

      </p>
    </div>
  </svg>
</div>
}
 </body> 