@{
  Layout = "_Layout";
}
 <body class="reglog">
  

<br>

<h1>Register Or Login</h1>
<hr />
<hr>
@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-danger" value="Log out" />
  }
  <a href="/gallery/upload">upload</a>
}
else
{
  <div class="svg-wrapper">
  <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
    <rect id="shape" height="40" width="150" />
    <div id="text">
      @* <a href=""><span class="spot"></span>Button 1</a> *@
      <p style="margin-top: 5px;" class="spot">@Html.ActionLink("Register", "Register") </p>

    </div>
  </svg>
</div>
  <div class="svg-wrapper">
  <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
    <rect id="shape" height="40" width="150" />
    <div id="text">
      @* <a href=""><span class="spot"></span>Button 1</a> *@
      <p style="margin-top: 5px;" class="spot">@Html.ActionLink("Log in", "Login")

      </p>
    </div>
  </svg>
</div>
}
 </body> 