@{
  Layout = "_Layout";
}

<body class="reglog">




  <h1>Welcome to The GalleryGram</h1>

  @if (User.Identity.IsAuthenticated)
  {

    <body>
      <div class="waviy">
        <span style="--i:1">h</span>
        <span style="--i:2">e</span>
        <span style="--i:3">l</span>
        <span style="--i:4">l</span>
        <span style="--i:5">o</span>
        <span style="--i:6">!</span>
      </div>
    </body>
    <h2>@User.Identity.Name!</h2>
    @using (Html.BeginForm("LogOff", "Account"))

    {
      <div class="svg-wrapper">
        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
          <rect id="shape" height="40" width="150" />
          <div id="text">
            @* <a href=""><span class="spot"></span>Button 1</a> *@
            <p style="margin-top: px;" class="spot"><input type="submit" class="btn" value="Log out" />

            </p>
          </div>
        </svg>
      </div>

    }

  }
  else
  {
    <div class="svg-wrapper">
      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          @* <a href=""><span class="spot"></span>Button 1</a> *@
          <p style="margin-top: 5px;" class="spot">@Html.ActionLink("Register", "Register") </p>

        </div>
      </svg>
    </div>
    <div class="svg-wrapper">
      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          @* <a href=""><span class="spot"></span>Button 1</a> *@
          <p style="margin-top: 5px;" class="spot">@Html.ActionLink("Log in", "Login")

          </p>
        </div>
      </svg>
    </div>
  }
</body>